<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GitHub AccessToken</title>

<body>

  <section style="width:300px;margin:30px auto 0 auto;border-radius:10px;background-color:#ffc;height:80px;padding-top:50px;text-align:center">
    <a href="/auth/github">Login with GitHub</a>
  </section>