<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GitHub AccessToken</title>

<body>

  <section style="width:400px;margin:30px auto 0 auto;border-radius:10px;background-color:#ffc;height:90px;padding-top:40px;text-align:center">
    Hi, <%= name %> (<%= login %>) your access token is<br><br><%= token %>
  </section>